body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 10px;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
}

.button-container {
    text-align: center;
    margin-top: 15px;
}

.property-block {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2a2a2a;
    transition: all .3s ease-in-out;
    flex-wrap: nowrap;
    position: relative;
}

.property-block.sub-level {
    margin-left: 10px;
}

.property-actions {
    display: flex;
    margin-left: 10px;
    flex-shrink: 0;
}

.property-actions button {
    margin-right: 3px;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    background-color: #3e3e3e;
    color: #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

.property-actions button:hover {
    background-color: #555;
}

.property-name-container {
    display: flex;
    flex: 1;
    position: relative;
    min-width: 0; /* Permite que el contenedor se encoja */
}

.property-name {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    flex: 1;
    min-width: 0; /* Campo texto se puede encoger */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.property-name:focus {
    outline: none;
    border: 1px solid #4caf50;
    box-shadow: 0 0 3px #4caf50;
}

.property-name[placeholder="Explanation Key"] {
    font-size: 1rem;
}


.property-type {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
     min-width: 50px; /* Tamaño mínimo fijo */
    flex-shrink: 0;
    box-sizing: border-box;
}

.property-type:focus {
    outline: none;
    border: 1px solid #4caf50;
    box-shadow: 0 0 3px #4caf50;
}

.enum-options {
    margin-left: 10px;
    margin-top: 5px;
    width: 100%;
}

.enum-option {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    flex-wrap: nowrap;
    position: relative;
}

.enum-option input {
    margin-right: 3px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    flex: 1;
     min-width: 0;  /* Campo texto se puede encoger */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.enum-option input:focus {
    outline: none;
    border: 1px solid #4caf50;
    box-shadow: 0 0 3px #4caf50;
}

.enum-option input[placeholder="Explanation Key"] {
    font-size: 1rem;
}

.enum-option button {
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    background-color: #3e3e3e;
    color: #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.enum-option button:hover {
    background-color: #555;
}


#output-json {
    margin-top: 15px;
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #333;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
}

.required {
    border: 2px solid #ff9800;
}

.selected {
    background-color: #3a3f54;
}

#get-json,
#copy-json {
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

#get-json:hover,
#copy-json:hover {
    background-color: #45a049;
}


/* Media query para dispositivos móviles */
@media (max-width: 600px) {

}

.placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #999;
    pointer-events: none;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 10px);
}

.placeholder.active {
    display: none;
}